@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #25272b;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 2em;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}

header .logo a span {
  color: #a1a5ae;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  padding: 1em;
  color: #868b96;
  text-decoration: none;
  -webkit-transition: color .1s;
  transition: color .1s;
}

header nav ul li a:hover {
  color: #f3f4f5;
}

header nav ul li .nav-active {
  color: #f3f4f5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-size: 1em;
}

.title {
  text-align: center;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kb-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #313339;
  color: #f3f4f5;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  -webkit-transition: color .2s;
  transition: color .2s;
  -ms-flex-preferred-size: 3em;
      flex-basis: 3em;
  height: 3em;
  margin: 0.1875em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.active-btn {
  background: #f3f4f5;
  color: #0d0e10;
}

.kb-gap {
  width: 3em;
  height: 3em;
  margin: 3px;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #191b1d;
  margin: 2em 0 1em;
  -webkit-transition: .2;
  transition: .2;
}

.keyboard-main {
  padding: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 52em;
}

.keyboard-main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboard-main .row .kb-wide {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.keyboard-main .row .kb-space {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.keyboard-main .f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.keyboard-main .f-row .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.keyboard-side {
  padding: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.keyboard-side .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.keyboard-side .f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pressed {
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  background: #daaa0e;
}

.checked {
  -webkit-transition: .2s;
  transition: .2s;
  background: #fff;
  color: #25272b;
}

.checked .img-windows {
  -webkit-filter: none;
          filter: none;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lastInput {
  color: #a1a5ae;
}

#lastBtn {
  color: #f1c22a;
}

.kb-reset {
  color: #a1a5ae;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.kb-reset:hover {
  color: #c43950;
}

.img-windows {
  background: url("img/Windows_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35%;
  width: 100%;
  height: 100%;
  -webkit-filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(333deg) brightness(105%) contrast(101%);
          filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(333deg) brightness(105%) contrast(101%);
}

.rotateDevice {
  display: none;
}

@media all and (max-width: 1200px) {
  .container {
    font-size: .9em;
  }
}

@media all and (max-width: 992px) {
  .container {
    font-size: .73em;
  }
}

@media all and (max-width: 768px) {
  .container {
    font-size: .60em;
  }
}

@media all and (max-width: 620px) {
  .container {
    font-size: .45em;
  }
}

@media all and (max-width: 480px) {
  .container {
    font-size: .35em;
  }
  nav {
    display: none;
  }
}

@media all and (max-width: 370px) {
  .main {
    display: none;
  }
  .rotateDevice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem;
  }
  .rotateDevice .rotateDeviceText {
    font-size: 1rem;
    color: #868b96;
    text-align: center;
  }
  .rotateDevice .rotateDeviceImg {
    max-width: 24em;
    margin-bottom: 3em;
    -webkit-animation-name: rotateDeviceImgAnimation;
            animation-name: rotateDeviceImgAnimation;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-filter: invert(59%) sepia(2%) saturate(1631%) hue-rotate(183deg) brightness(93%) contrast(91%);
            filter: invert(59%) sepia(2%) saturate(1631%) hue-rotate(183deg) brightness(93%) contrast(91%);
  }
}

@-webkit-keyframes rotateDeviceImgAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotateDeviceImgAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/*# sourceMappingURL=main.css.map */