@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #25272b;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 2em;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
}

header .logo a span {
  color: #a1a5ae;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  padding: 1em;
  color: #868b96;
  text-decoration: none;
  transition: color .1s;
}

header nav ul li a:hover {
  color: #f3f4f5;
}

header nav ul li .nav-active {
  color: #f3f4f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1em;
}

.title {
  text-align: center;
  font-weight: 400;
  user-select: none;
}

.main {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.kb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313339;
  color: #f3f4f5;
  flex-basis: 3em;
  height: 3em;
  margin: 0.1875em;
  user-select: none;
}

.active-btn {
  background: #f3f4f5;
  color: #0d0e10;
}

.kb-gap {
  width: 3em;
  height: 3em;
  margin: 3px;
}

.keyboard {
  display: flex;
  background: #191b1d;
  margin: 2em 0 1em;
}

.keyboard-main {
  padding: .9em;
  display: flex;
  flex-direction: column;
  width: 52em;
}

.keyboard-main .row {
  display: flex;
  justify-content: center;
}

.keyboard-main .row .kb-wide {
  flex-grow: 1;
}

.keyboard-main .row .kb-space {
  flex-grow: 10;
}

.keyboard-main .f-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.keyboard-main .f-row .group {
  display: flex;
  width: 14em;
  justify-content: flex-end;
}

.keyboard-side {
  padding: .9em;
  display: flex;
  flex-direction: column;
}

.keyboard-side .row {
  display: flex;
  justify-content: flex-end;
}

.keyboard-side .f-row {
  display: flex;
  margin-bottom: 1em;
  justify-content: flex-end;
}

.pressed {
  background: #daaa0e;
}

.checked {
  background: #fff;
  color: #25272b;
}

.checked .img-windows {
  filter: none;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.lastInput {
  color: #a1a5ae;
}

#lastBtn {
  color: #f1c22a;
}

.kb-reset {
  color: #a1a5ae;
  cursor: pointer;
  transition: .2s;
}

.kb-reset:hover {
  color: #c43950;
}

.img-windows {
  background: url("img/Windows_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35%;
  width: 100%;
  height: 100%;
  filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(333deg) brightness(105%) contrast(101%);
}

@media all and (max-width: 1200px) {
  .container {
    font-size: .9em;
  }
}

@media all and (max-width: 992px) {
  .container {
    font-size: .73em;
  }
}

@media all and (max-width: 768px) {
  .container {
    font-size: .45em;
  }
}

@media all and (max-width: 480px) {
  .container {
    font-size: .4em;
  }
}
